<p>Hi <%= name %>,</p>

<p>
  This is just a quick note to confirm that your email address has been
  successfully verified.
</p>

<p>
  You now have full access to your account. You can log in anytime at
  <a href="<%= frontendUrl %>/login" target="_blank">growthmind.com</a>.
</p>

<p>Thanks for joining us!</p>

<p>The GROWTHMIND Team</p>
