<p>Hi <%= name %>,</p>

<p>
  Thank you for signing up for <strong>GROWTHMIND</strong>. To complete your
  registration and secure your account, please use the following verification
  code:
</p>

<h3><%= token %></h3>

<p>Enter this code on the verification page to get started.</p>

<p>Please ignore it or contact our support team if you have concerns.</p>

<p>
  Best, <br />
  The GROWTHMIND Security Team
</p>
