<p>Hi <%= name %>,</p>

<p>Forgot your password? It happens to the best of us!</p>

<p>
  Click the button below to choose a new one and get back into your account:
</p>

<a href="<%= frontendUrl %>/reset-password?token=<%= token %>" target="_blank"
  >Set a New Password</a
>

<p>For your security, this link is only valid for 30 minutes.</p>

<p>
  Cheers, <br />
  The GROWTHMIND Team
</p>
