<p>Hi <%= name %>,</p>

<p>
  This is a confirmation that the password for your GROWTHMIND account was
  successfully changed.
</p>

<p>
  Was this you?<br />
  If you recently reset your password, you can safely ignore this email. You're
  all set to log back in!
</p>

<p>
  If you did NOT change your password:<br />
  Please contact our security team immediately by replying to this email
</p>

<p>
  Stay safe,<br />
  The GROWTHMIND Team
</p>
